<div class="grid grid-cols-3 gap-4 mt-11">
<article
  class="hover:animate-background rounded-xl bg-gradient-to-r 
  from-green-300 via-blue-500 to-purple-600 p-0.5 
  shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
>
  <div class="rounded-[10px] bg-white p-4 dark:bg-gray-900 sm:p-6">
    <time
      datetime="2022-10-10"
      class="block text-xs text-gray-500 dark:text-gray-400"
    >
      9 de Noviembre
    </time>

      <h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
          Crea un CRUD con Fiber, Go y Postgres con Docker
      </h3>

    <div class="mt-4 flex flex-wrap gap-1">
    <a href="/fiber-crud"
  class="inline-block rounded 
    bg-gradient-to-r 
    from-green-300 via-blue-500 to-purple-600 
    p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
>
  <span
    class="block flex justify-between rounded-sm bg-white px-11 py-2  hover:bg-transparent"
  >
  Ver
  </span>
</a>
    </div>
  </div>
</article>

<article
  class="hover:animate-background rounded-xl bg-gradient-to-r 
  from-green-300 via-blue-500 to-purple-600 p-0.5 
  shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
>
  <div class="rounded-[10px] bg-white p-4 dark:bg-gray-900 sm:p-6">
    <time
      datetime="2022-10-10"
      class="block text-xs text-gray-500 dark:text-gray-400"
    >
      9 de Noviembre
    </time>

    <a href="/curd-fiber">
      <h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
          Discord clone con Next 13, Tailwind css, TypeScript y Socket.io
      </h3>
    </a>

    <div class="mt-4 flex flex-wrap gap-1">
<a
  class="inline-block rounded 
    bg-gradient-to-r 
    from-green-300 via-blue-500 to-purple-600 
    p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
    href="/download"
>
  <span
    class="block flex justify-between rounded-sm bg-white px-11 py-2  hover:bg-transparent"
  >
  Ver
  </span>
</a>
    </div>
  </div>
</article>

<article
  class="hover:animate-background rounded-xl bg-gradient-to-r 
  from-green-300 via-blue-500 to-purple-600 p-0.5 
  shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
>
  <div class="rounded-[10px] bg-white p-4 dark:bg-gray-900 sm:p-6">
    <time
      datetime="2022-10-10"
      class="block text-xs text-gray-500 dark:text-gray-400"
    >
      9 de Noviembre
    </time>

      <h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
          Crea un CRUD con HTMX, Go y Postgres con Docker
      </h3>

    <div class="mt-4 flex flex-wrap gap-1">
    <a href="/curd-fiber"
  class="inline-block rounded 
    bg-gradient-to-r 
    from-green-300 via-blue-500 to-purple-600 
    p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
>
  <span
    class="block flex justify-between rounded-sm bg-white px-11 py-2  hover:bg-transparent"
  >
  Ver
  </span>
</a>
    </div>
  </div>
</article>
</div>
