---
import PageSection from "../pageSection.astro";
import BlogCard from "./blogCard.astro";

export interface Props {}
---

<PageSection size={"24"} bottomPadding={false} id="community">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-center px-4 text-gris-100 sm:px-6 lg:px-8"
  >
    <h3
      class="mt-2 w-full text-left text-3xl font-bold tracking-tight text-gris-50 md:text-center md:text-5xl lg:text-5xl"
    >
      Tutorials
    </h3>
    <p
      class="mb-10 mt-4 w-full max-w-3xl text-left text-base text-gris-200 md:text-center md:text-xl lg:text-xl"
    >
      My personal collection of projects, step by step.
    </p>
    <div
      class="flex flex-col items-start justify-center space-y-4 sm:flex-row sm:space-x-6 sm:space-y-0"
    >
      <BlogCard
        title="Go Hmtx CRUD"
        text="Build a FullStack app with Go, Htmx, Tailwind CSS and Postgres database with Docker"
        href="en/go-htmx-crud"
      >
      </BlogCard>

      <BlogCard
        title="Fiber REST API"
        text="Build a REST API with Fiber web framework and Postgres database with Docker."
        href="en/fiber-rest-api"
      >
      </BlogCard>

    </div>
  </div>
</PageSection>
