---
import PageSection from "../pageSection.astro";
import BlogCard from "./blogCard.astro";

export interface Props {}
---

<PageSection size={"24"} bottomPadding={false} id="community">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-center px-4 text-gris-100 sm:px-6 lg:px-8"
  >
    <h3
      class="mt-2 w-full text-left text-3xl font-bold tracking-tight text-gris-50 md:text-center md:text-5xl lg:text-5xl"
    >
      Tutorials
    </h3>
    <p
      class="mb-10 mt-4 w-full max-w-3xl text-left text-base text-gris-200 md:text-center md:text-xl lg:text-xl"
    >
      My personal collection of projects, step by step.
    </p>
    <div
      class="grid grid-cols-1 mb-11 gap-4 md:grid-cols-2 gap-4 lg:grid-cols-3 gap-4 "
    >
      <BlogCard
        title="Go Hmtx CRUD"
        text="Developing High-Performance Web Application with Go, HTMX, and Postgres"
        href="en/go-htmx-crud"
      >
      </BlogCard>
      
      <BlogCard
        title="Send emails with Go"
        text="Learn how to send custom emails with Go"
        href="en/go-send-email"
      >
      </BlogCard>

      <BlogCard
        title="Fiber JWT authentication"
        text="Learn how to implement JWT (JSON Web Token) authentication in a Golang application using Fiber web framework."
        href="en/fiber-jwt-authentication"
      >
      </BlogCard>

      <BlogCard
        title="2FA with Fiber"
        text="Learn how to implement 2FA with Go using the web framework Fiber"
        href="en/2fa-fiber"
      >
      </BlogCard>

      <BlogCard
        title="Neovim config"
        text="From 0 to IDE with Neovim"
        href="en/neovim-config"
      >
      </BlogCard>

    </div>
  </div>
</PageSection>
